.Mainheader{
  font-size: 100%;
  background-repeat: repeat-x;
  padding: 0px;
  margin: 0px;
  
}

.doc{
padding: 10px;
}
nav {
  display: flex;
  background-color: rgb(54, 59, 122);
  color: white;
  height: 7.5vh;
  
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;

 
}

logo {
  font-weight: 800;
  letter-spacing: 2px;
  cursor: pointer;
}


.links {
 display: inline-flex;
  align-items: center;
  margin-right: 50px;
  text-decoration: none;
  color: white;
}
