nav {
  background-color: rgb(54, 59, 122);
  color: white;
  height: 7.5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

logo {
  font-weight: 800;
  letter-spacing: 2px;
  cursor: pointer;
}
.header-wrap {
  display: flex;
}

.links {
  align-items: center;
  margin-right: 50px;
  text-decoration: none;
  color: white;
}
