


.DDlogo {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
  width: 150px;
}
.CR {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    width: 215px;
}
