/* .Mainhomescreen {
  align-self: center;
} */
.button {
  display: block;
  padding: 10px;
  margin: 10px auto;
  width: 80%;

  background-color: rgb(32, 119, 190);

  font-size: 25px;
  cursor: pointer;
  text-align: center;

  color: aliceblue;
  align-items: center; 
  border-radius: 12px;
}
.HSlinks {
  display: block;
  text-decoration: none;
 
}
h1 {
  margin: 20px;
}
